ul.link-list {
    padding: 0;
    margin: 0;
}
ul.link-list li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;

}

footer {

    margin: 4em 1.618em 0em 0em;
}

footer.apple {
    font-size: 10pt;
}
